---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<API_KEY>&maxResults=5&order=relevance&part=snippet&q=machine%20learning&type=playlist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"I_8xdZu766_FSaexEaDXTIfEWc0/nNLoxFBQrrYLOxSrDCwtG6VkLGY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"I_8xdZu766_FSaexEaDXTIfEWc0/nNLoxFBQrrYLOxSrDCwtG6VkLGY\"",
         "nextPageToken": "CAUQAA",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 99272,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"I_8xdZu766_FSaexEaDXTIfEWc0/DphVvQ0i280482q-Hm20m9Cs16A\"",
           "id": {
            "kind": "youtube#playlist",
            "playlistId": "PLA89DCFA6ADACE599"
           },
           "snippet": {
            "publishedAt": "2008-07-17T22:34:50.000Z",
            "channelId": "UC-EnprmCZ3OXyAoG7vjVNCA",
            "title": "Lecture Collection | Machine Learning",
            "description": "This course (CS229) -- taught by Professor Andrew Ng -- provides a broad introduction to machine learning and statistical pattern recognition. Topics include ...",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/UzxYlbK2c7E/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/UzxYlbK2c7E/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/UzxYlbK2c7E/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "Stanford",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"I_8xdZu766_FSaexEaDXTIfEWc0/UYcryoUPrnFVNtAR84AiOTifCXE\"",
           "id": {
            "kind": "youtube#playlist",
            "playlistId": "PLQVvvaa0QuDfKTOs3Keq_kaG2P55YRn5v"
           },
           "snippet": {
            "publishedAt": "2016-04-11T00:18:02.000Z",
            "channelId": "UCfzlCWGWYyIQ0aLC5w48gBQ",
            "title": "Machine Learning with Python",
        [...]
