---
http_interactions:
- request:
    method: get
    uri: https://api.coursera.org/api/courses.v1?limit=0&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"-2089926472"
      X-Coursera-Request-Id:
      - OW7rIZgeEeahzBIBejHCWw
    body:
      encoding: UTF-8
      string: '{"elements":[],"paging":{"next":"0","total":2261},"linked":{}}'
  recorded_at: Sat, 22 Oct 2016 06:10:26 GMT
[...]
- request:
    method: get
    uri: https://api.coursera.org/api/courses.v1?fields=description,photoUrl&limit=100&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"543752055"
      X-Coursera-Request-Id:
      - OuXTV5geEea7ewrcTyuPnQ
    body:
      encoding: UTF-8
      string: '{"elements":[{"courseType":"v1.session","description":"For anyone who
        would like to apply their technical skills to creative work ranging from video
        games to art installations to interactive music, and also for artists who
        would like to use programming in their artistic practice.","photoUrl":"https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/24/63a093e763b307dc9420e796aeb06a/GoldComputing3.jpg","name":"Creative
        Programming for Digital Media & Mobile Apps","id":"v1-228","slug":"digitalmedia"},{"courseType":"v2.ondemand","description":"Gamification
        is the application of game elements and digital game design techniques to
        non-game problems, such as business and social impact challenges. This course
        will teach you the mechanisms of gamification, why it has such tremendous
        potential, and how to use it effectively. For additional information on the
        concepts described in the course, you can purchase Professor Werbach''s book
        F[...]
[...]
